body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--Background-color-page);
}

:root {
    --Background-color-page: #FFFFFF;
    --Logo-color: #4d5ae5;
    --SpanLogoColor: #2e2f42;
    --NavListColor: #2e2f42;
    --contactsColor: #434455;
    --mainSectionBackground-color: #2e2f42;
    --title-thirdColor: #2e2f42;
    --text-pageColor: #434455;
    --title-secondColor: #2e2f42;
    --footer-pageBackgroundColor: #2e2f42;
    --text-footerColor: #F4F4FD;
    --portfolio-buttonColor: #4d5ae5;
    --portfolio-buttonBackgroundColor: #F4F4FD;
    --title-second-portfolioColor: #2e2f42;
    --text-page-portfolioColor: #434455;


}

.link {
    text-decoration: none;
}

.link:hover {
    color: #404bbf;
}

.link:focus {
    color: #404bbf;
}


.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/**---------------------------------- Header */
.header {}

.header-navigation {}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--Logo-color);
}

.header-logo-ditails {
    color: var(--SpanLogoColor);
}

.header-navigation-list {}

.header-navigation-item {}

.header-navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--NavListColor);
}

.header-address {
    font-style: normal;
}

.header-address-list {}

.header-address-item {}

.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contactsColor);
}


.main {}


/**-------------------------Section 1 */
.first-section {
    background-color: var(--mainSectionBackground-color);
}

.first-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.first-section-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;

}

.first-section-button:hover {
    background-color: #404BBF;
}

.first-section-button:focus {
    background-color: #404BBF;
}

/**---------------------- Section 2 */
.goals-section {}

.goals-section-list {}

.goals-section-list {}

.goals-section-item {}

.goals-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-thirdColor);
}

.goals-section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-pageColor);
}

/**---------------------- Section 3 */
.doing-section {}

.doing-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-secondColor);
}

.doing-section-list {}

.doing-section-item {}

/**--------------------- Section 4 */
.team-section {
    background-color: #F4F4FD;
}

.team-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-secondColor);
}

.team-section-list {}

.team-section-item {
    background-color: #FFFFFF;
}

.team-third-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-thirdColor);
}

.team-section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-pageColor);
}

/**----------------------- Footer */

.footer-page {
    background-color: var(--footer-pageBackgroundColor);
}

.footer-logo {
    font-family: "Raleway",
        sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--Logo-color);
}

.footer-logo-ditails {
    color: #f4f4fd;
}

.text-footer {
    line-height: 1.5;
    color: var(--text-footerColor);
    letter-spacing: 0.02em;
}



/* Portfolio */
.portfolio-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--portfolio-buttonColor);
    cursor: pointer;
    background-color: var(--portfolio-buttonBackgroundColor);

}

.portfolio-button:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.portfolio-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.title-second-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-second-portfolioColor);

}

.text-page-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-page-portfolioColor);

}